html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "NestleText-Bold";
    src: url("../fonts/NestleText-Bold.otf") format("opentype");
}

@font-face {
    font-family: "NestleText-BoldItalic";
    src: url("../fonts/NestleText-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "NestleText-Book";
    src: url("../fonts/NestleText-Book.otf") format("opentype");
}

@font-face {
    font-family: "NestleText-Italic";
    src: url("../fonts/NestleText-Italic.otf") format("opentype");
}

@font-face {
    font-family: "NestleText-Light";
    src: url("../fonts/NestleText-Light.otf") format("opentype");
}

@font-face {
    font-family: "NestleText-LightItalic";
    src: url("../fonts/NestleText-LightItalic.otf") format("opentype");
}

:root {
    --grey: #eaeaea;
    --lightGrey: #f7f1ec;
    --darkGrey: #dbccc0;
    --paginators: #f2eae4;
    --brown: #99644c;
    --brownBorder: #6d3921;
    --greyBorder: #f1ebe6;
    --error: #fd5050;
    --focus: #5b4d3c;
    --grey-background: rgba(219, 204, 192, 0.2);
    --traditional-grey: #707070;
    --orange: #ea613b;
    --paginateHover: #dbccc0;
    --borderInput: #dbccc0;
    --darkBrown: #211e1e;
    --blueTag: #1c9cc8;
    --yellowTag: #e6c003;
    --orangeTag: #ea873b;
    --greenTag: #35ce8d;
    --redTag: #fd5050;
    --black: #000;
    --optionButton: #ff585d;
    --bigRadius: 20px;
    --mediumRadius1: 15px;
    --mediumRadius2: 10px;
    --NestleText-Bold: "NestleText-Bold";
    --NestleText-BoldItalic: "NestleText-BoldItalic";
    --NestleText-Book: "NestleText-Book";
    --NestleText-Italic: "NestleText-Italic";
    --NestleText-Light: "NestleText-Light";
    --NestleText-LightItalic: "NestleText-LightItalic";
    --font1: 32px;
    --font2: 24px;
    --font3: 20px;
    --font4: 18px;
    --font5: 16px;
    --font6: 12px;
    --transitionLow: all 1.5s;
    --transitionMedium: all 1s;
    --transitionFast: all 500ms;
}

@media (max-width: 1600px) {
    :root {
        --font1: calc(32px * 0.75);
        --font2: calc(24px * 0.75);
        --font3: calc(20px * 0.75);
        --font4: calc(18px * 0.75);
        --font5: calc(16px * 0.75);
        --font6: calc(12px * 0.8);
        --bigRadius: 15px;
        --mediumRadius1: 10px;
        --mediumRadius2: 5px;
    }
}

@media (max-width: 1024px) {
    :root {
        --font1: calc(32px * 0.6);
        --font2: calc(24px * 0.6);
        --font3: calc(20px * 0.6);
        --font4: calc(18px * 0.6);
        --font5: calc(16px * 0.6);
        --font6: calc(12px * 0.8);
    }
}

body {
    background-color: var(--lightGrey);
}

header {
    padding: 0 40px;
    position: relative;
    background-color: white;
    width: 100%;
}

header div {
    height: 120px;
    width: max-content;
    display: flex;
    align-items: center;
}

header .logos {
    cursor: pointer;
}

header .logout {
    text-transform: uppercase;
    color: var(--orange);
    transition: var(--transitionMedium);
    text-decoration: none;
    background-color: transparent;
    border: none;
    line-height: 1.5em;
    font-size: var(--font5);
    font-family: var(--NestleText-Book);
    opacity: 80%;
    cursor: pointer;
}

header .logout:hover {
    text-decoration: underline;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title-header-active {
    font-family: var(--NestleText-Book);
    color: var(--focus);
    position: relative;

    text-decoration: none;
    padding-left: 5px;
}

.title-header-inactive {
    font-family: var(--NestleText-Book);
    color: var(--orange);
    padding-left: 5px;

    cursor: pointer;
    text-decoration: none;
}

header .logout:after {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/logout-icon.svg);
    width: 20px;
    content: "";
    height: 20px;
    display: block;
    float: right;
    margin-left: 10px;
}

header div img {
    height: 100%;
    width: auto;
}

.icon-btn img {
    height: auto;
    width: 100%;
}

footer .logout:hover {
    text-decoration: underline;
}

footer .logout:after {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/logout-icon.svg);
    width: 20px;
    content: "";
    height: 20px;
    display: block;
    float: right;
    margin-left: 10px;
}

footer .logout {
    text-transform: uppercase;
    color: var(--orange);
    transition: var(--transitionMedium);
    text-decoration: none;
    line-height: 1.5em;
    float: right;
    font-size: var(--font2);
    font-family: var(--NestleText-Book);
    opacity: 80%;
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: end;
}

footer {
    display: none;
    padding: 30px 20px;
    overflow: hidden;
}

.login {
    position: relative;
    max-width: calc(100vw - 100px);
    margin: 0 auto;
    min-height: calc(100vh - 120px);
}

.login form {
    width: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    border-radius: var(--bigRadius);
}

.login form input:focus {
    border: 3px solid var(--focus);
}

.login form h1 {
    line-height: 1.5em;
    font-size: var(--font1);
    font-family: var(--NestleText-Bold);
    margin-bottom: 30px;
}

.login form label {
    line-height: 1.6em;
    font-size: var(--font5);
    font-family: var(--NestleText-Bold);
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    display: block;
    text-transform: uppercase;
}

.login form input {
    padding: 20px;
    border: 3px solid var(--borderInput);
    border-radius: var(--mediumRadius1);
    width: 100%;
    position: relative;
    z-index: 2;
    transition: var(--transitionMedium);
    font-size: var(--font5);
    box-shadow: 0 0 0 0;
    outline: 0;
    font-family: var(--NestleText-Book);
}

.login form .containerForm {
    margin-bottom: 30px;
    position: relative;
}

.login form input::placeholder {
    color: var(--darkBrown);
    font-family: var(--NestleText-Book);
    font-size: var(--font5);
    opacity: 60%;
}

.login form button {
    border-radius: var(--bigRadius);
    font-family: var(--NestleText-Book);
    font-size: var(--font4);
    background-color: var(--brown);
    transition: var(--transitionMedium);
    border: none;
    width: 100%;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    cursor: pointer;
}

.login form button:hover {
    background-color: var(--orange);
}

.login form .password-eye {
    position: relative;
}

.login form .password-eye .eye {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../img/eye.svg);
    width: 20px;
    height: 15px;
    background-position: center;
    display: block;
    transform: translate(0%, -50%);
    right: 15px;
    position: absolute;
    z-index: 3;
    top: 50%;
    transition: var(--transitionMedium);
    cursor: pointer;
}

.eyesOff .login form .password-eye .eye {
    background-image: url(../img/eye-closed.svg);
}

.login form .wrong-field {
    margin-top: 20px;
    background-color: var(--error);
    padding: 10px;
    border-radius: var(--mediumRadius1);
    transition: var(--transitionMedium);
    opacity: 0%;
    top: -40px;
    position: absolute;
}

.login form .wrong-field.active {
    opacity: 100%;
    top: 0px;
    position: relative;
}

.login form .wrong-field p {
    color: white;
    font-family: var(--NestleText-Book);
    font-size: var(--font5);
    line-height: 1.5em;
    position: relative;
    width: 100%;
    padding-left: 30px;
}

.login form .wrong-field p:before {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/error-icon.svg);
    width: 20px;
    content: "";
    height: 20px;
    display: block;
    transform: translate(0%, -50%);
    left: 0px;
    top: 50%;
    position: absolute;
}

.login input.loginError {
    border: 3px solid var(--error);
}

.campaigns,
.group,
.group-detail,
.group-detail-inner,
.group-local {
    padding-top: 100px;
    max-width: calc(100vw - 100px);
    width: 1600px;
    padding-bottom: 40px;
    margin: 0 auto;
    min-height: 100vh;
}

.group-detail-inner {
    padding-top: 40px;
}

.campaigns h1,
.group h1 {
    line-height: 1.5em;
    font-size: var(--font1);
    font-family: var(--NestleText-Bold);
    margin-bottom: 40px;
}

.group .content-title {
    float: left;
}

h1.connection-info {
    margin-top: 30px;
    font-size: var(--font1);
}

.campaigns .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 50px;
    width: 100%;
}

.campaigns .card,
.group .card,
.group-detail .card,
.group-local .card {
    border-radius: var(--bigRadius);
    padding: 40px;
    background-color: white;
    overflow: hidden;
}

.group-detail .card,
.group-local .card {
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
}

.campaigns .card .title h2,
.group .card h2,
.group-detail .card h2,
.group-local .card h2 {
    font-size: var(--font2);
    font-family: var(--NestleText-Bold);
    line-height: 1.3em;
    float: left;
    width: calc(100% - 120px);
}

.campaigns .card .title h2 {
    height: 60px;
}

.group .card h2,
.group-detail .card h2,
.group-local .card h2 {
    float: none;
    margin-bottom: 5px;
}

.campaigns .card .title {
    overflow: hidden;
    margin-bottom: 30px;
}

.campaigns .card .title a,
.group .card a {
    float: right;
    color: var(--orange);
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    width: 110px;
    font-size: var(--font5);
    font-family: var(--NestleText-Book);
    transition: var(--transitionMedium);
    line-height: 1.8em;
}

.campaigns .card .title a {
    text-align: right;
}

.group .card a {
    float: left;
    line-height: 1.3em;
}

/**********/

.title-connection {
    display: flex;
    flex-direction: column;
}

.content-body.connection-tables {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.connection-table {
    width: 100%;
}

.connection-table thead {
    border-bottom: 2px solid rgba(91, 77, 60, 0.1); /* var(--focus) com 0.2 de opacidade */
}

.connection-table th {
    font-family: var(--NestleText-Bold);
    color: var(--focus);
    padding: 10px 0;
    font-size: var(--font4);
    text-align: start;
}

.connection-table tr {
    display: flex;
    gap: 20px;
}

.connection-table tbody tr:first-child td {
    padding-top: 15px;
}

.connection-table td {
    font-family: var(--NestleText-Book);
    padding: 20px 0;
    width: 50%;
    word-wrap: break-word;
    word-break: break-all;
}

.connection-table td:first-child {
    text-align: end;
    opacity: 40%;
}

.btn-connection img {
    width: 15px;
}

/**********/

.group .card .first-content,
.group .card .final-content,
.group-detail .card .final-content,
.group-local .card .final-content {
    overflow: hidden;
}

.group .card .content-wrapper:nth-child(1) p:nth-child(2),
.group-detail .card .content-wrapper:nth-child(1) p:nth-child(2),
.group-local .card .content-wrapper:nth-child(1) p:nth-child(2) {
    font-size: var(--font4);
    font-family: var(--NestleText-Book);
    line-height: 1.5em;
    color: var(--darkBrown);
    margin-bottom: 30px;
}

.group-detail .card .content-wrapper:nth-child(1) p:nth-child(2) {
    margin-bottom: 0px;
}

.group-detail .card .content-wrapper:nth-child(1) p:nth-child(2) strong {
    font-family: var(--NestleText-Bold);
}

.group .card .content-wrapper:nth-child(1) p:nth-child(3),
.group-detail .card .content-wrapper:nth-child(1) p.neighborhoods,
.group-local .card .content-wrapper:nth-child(1) p:nth-child(3) {
    font-size: var(--font5);
    font-family: var(--NestleText-Book);
    margin-bottom: 25px;
    opacity: 50%;
    line-height: 1.5em;
}

.group-detail .card .content-wrapper:nth-child(1) p.neighborhoods {
    margin-top: 30px;
}

.campaigns .card .title a:hover,
.group .card a:hover {
    text-decoration: underline;
}

.campaigns .card .infos,
.group .card .infos,
.group-detail .card .infos,
.group-local .card .infos,
.group .info-title {
    overflow: hidden;
    margin-bottom: 24px;
}

.group .card .content-wrapper .infos,
.group-detail .card .content-wrapper .infos,
.group-local .card .content-wrapper .infos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.campaigns .card .infos .data,
.group .card .infos .data,
.group-detail .card .infos .data,
.group-local .card .infos .data,
.group .data-title {
    float: left;
    width: calc(50% - 5px);
    padding: 30px 10px;
    border-radius: var(--mediumRadius2);
    border: 2px solid var(--borderInput);
    text-align: center;
}

.group .card .infos .data,
.group-detail .card .infos .data,
.group-local .card .infos .data {
    width: 100%;
}

.group-detail .card .infos .data,
.group-local .card .infos .data {
    background-color: var(--grey-background);
}

.group .data-title {
    margin-right: 10px;
    width: 170px;
    border: none;
    background-color: var(--grey-background);
}

.group .card .infos .data:last-child,
.group-detail .card .infos .data:last-child,
.group-local .card .infos .data:last-child,
.group .data-title:last-child {
    margin-right: 0px;
}

.group .data-title:last-child {
    margin-right: 0px;
    float: right;
}

.group .info-title {
    width: max-content;
    float: right;
}

.campaigns .card .infos .data h3,
.group .card .infos .data h3,
.group-detail .card .infos .data h3,
.group-local .card .infos .data h3,
.group .info-title .data-title h3 {
    font-family: var(--NestleText-Book);
}

.campaigns .card .infos .data h3:nth-child(1) {
    font-size: var(--font1);
    margin-bottom: 10px;
    color: var(--darkBrown);
}

.group .data-title h3:nth-child(1),
.group .card .infos .data h3:nth-child(1),
.group-detail .card .infos .data h3:nth-child(1),
.group-local .card .infos .data h3:nth-child(1) {
    font-size: var(--font2);
    margin-bottom: 10px;
    color: var(--darkBrown);
}

.campaigns .card .infos .data h3:nth-child(2) {
    font-size: var(--font3);
    text-transform: uppercase;
    color: var(--darkBrown);
}

.group .info-title .data-title h3:nth-child(2),
.group .card .infos .data h3:nth-child(2),
.group-detail .card .infos .data h3:nth-child(2),
.group-local .card .infos .data h3:nth-child(2) {
    font-size: var(--font5);
    color: var(--darkBrown);
    text-transform: uppercase;
}

.campaigns .card .infos .data:nth-child(2),
.campaigns .info-title .data-title:nth-child(2) {
    float: right;
}

.campaigns .card .update,
.group .card .update,
.group-detail .card .update,
.group-local .card .update {
    text-align: end;
    color: var(--darkBrown);
    opacity: 40%;
    line-height: 1.3em;
    font-size: var(--font4);
    font-family: var(--NestleText-Book);
}

.group .card .update,
.group-detail .card .update,
.group-local .card .update {
    float: right;
}

.group .card {
    margin-top: 20px;
    overflow: hidden;
}

.group .card.processing {
    border: 3px solid var(--orange);
    animation: pulse 1s infinite alternate;
}

.group .card.processing h2:before {
    content: "Em processamento";
    padding: 0px 10px;
    font-size: 10px;
    font-family: var(--NestleText-Book);
    border-radius: 5px;
    color: white;
    margin: 0px 10px 0px 0px;
    display: block;
    text-transform: uppercase;
    background-color: var(--orange);
    float: left;
}

@keyframes pulse {
    0% {
        border: 3px solid white;
    }

    100% {
        border: 3px solid var(--orange);
    }
}

.group .card:nth-child(1) {
    margin-bottom: 0px;
}

.group .card .content-wrapper:nth-child(1),
.group-detail .card .content-wrapper:nth-child(1),
.group-local .card .content-wrapper:nth-child(1) {
    float: left;
    width: calc(50% - 20px);
    margin-right: 20px;
}

.group .card .content-wrapper:nth-child(2),
.group-detail .card .content-wrapper:nth-child(2),
.group-local .card .content-wrapper:nth-child(2) {
    float: right;
    width: 50%;
}

.group .path,
.group-detail .path,
.group-detail-inner .path,
.group-local .path {
    overflow: hidden;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.group .path a,
.group-detail .path a,
.group-detail-inner .path a,
.group-local .path a,
.arrow a {
    font-size: var(--font5);
    font-family: var(--NestleText-Book);
    float: left;
    text-decoration: none;
    color: var(--orange);
    transition: var(--transitionMedium);
    margin-right: 10px;
}

.group .path a:hover,
.group-detail .path a:hover,
.group-detail-inner .path a:hover,
.group-local .path a:hover {
    text-decoration: underline;
}

.group-detail-inner .intro p {
    display: block;
    font-size: var(--font4);
    font-family: var(--NestleText-Book);
    margin-bottom: 10px;
    color: var(--darkBrown);
}

.group .path p,
.group-detail .path p,
.group-detail-inner .path p,
.group-local .path p {
    float: left;
    font-family: var(--NestleText-Book);
    color: var(--traditional-grey);
    font-size: var(--font5);
}

.arrow a:before {
    content: "";
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../img/arrow-left.svg);
    width: 12px;
    height: 12px;
    display: block;
    margin-top: 2px;
    float: left;
    margin-right: 10px;
}

.group .path a:after,
.group-detail .arrow .path a:after,
.group-detail-inner .path a:after,
.group-local .path a:after {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../img/arrow-right.svg);
    width: 12px;
    content: "";
    height: 12px;
    display: block;
    margin-top: 2px;
    float: right;
    margin-left: 10px;
}

.group .title {
    overflow: hidden;
}

.campaigns .data-title {
    float: left;
    width: calc(50% - 5px);
    padding: 30px;
    border-radius: var(--mediumRadius2);
    border: 2px solid var(--borderInput);
    text-align: center;
    margin-bottom: 24px;
}

.group-detail .content form .order-amount,
.group-local .content form .order-amount {
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.order-amount {
    position: relative;
    z-index: 1;
    margin-right: -18px !important;
}

.order-amount label.sms {
    display: block;
    float: left;
    background-color: var(--grey-background);
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    font-family: var(--NestleText-Book);
    font-size: var(--font5);
    padding: 31px 40px 26px 90px;
    border-radius: var(--bigRadius) 0px 0px var(--bigRadius);
}

.order-amount label.sms:before {
    content: "";
    width: 50px;
    height: 22px;
    background-color: var(--borderInput);
    display: block;
    position: absolute;
    left: 20px;
    top: 26px;
    border-radius: 30px;
    cursor: pointer;
}
.order-amount label.sms input {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    opacity: 0;
    left: 0px;
    top: 0px;
    cursor: pointer;
    margin: 0px !important;
}

.order-amount label.sms:after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: var(--black);
    position: absolute;
    left: 20px;
    top: 24px;
    border-radius: 100px;
    transition: var(--transitionFast);
    cursor: pointer;
}

.order-amount label.sms:has(input:checked):after {
    background: var(--orange);
    left: 46px;
}

.group-detail .content form button,
.group-local .content form button,
.group-local .orders.delivery .introduction-data button,
.group-detail-inner .orders.delivery .introduction-data button,
.group-detail-inner .up,
.group-detail .up,
.group-local .up,
.group .up {
    float: left;
    border-radius: var(--bigRadius);
    padding: 30px 40px;
    font-family: var(--NestleText-Book);
    font-size: var(--font4);
    display: block;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: var(--brown);
    color: white;
    text-transform: uppercase;
    transition: var(--transitionMedium);
    line-height: 1em;
}

form#deliverOrdersForm button {
    z-index: 2;
    position: relative;
    padding: 27px 40px 28px;
}

.group-detail .content form button:hover,
.group-local .content form button:hover,
.group-local .content form .order-amount div.more.active:hover,
.group-local .content form .order-amount div.less:hover,
.group-local .orders.delivery .introduction-data button:hover,
.group-detail-inner .orders.delivery .introduction-data button:hover,
.group-detail-inner .up:hover,
.group-detail .up:hover,
.group-local .up:hover,
.group .up:hover {
    background-color: var(--orange);
}

.group-local .content form .order-amount div.less.disabled:hover {
    background-color: var(--brown);
}

.group-detail .content form,
.group-local .content form {
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 60px;
}

.group-detail .content form .order-amount div,
.group-local .content form .order-amount div,
.group-detail-inner .paginate .paginator div,
.group-detail-inner .paginate a,
.group-detail-inner .paginate p.active {
    float: left;
}

.group-detail .content form .order-amount div,
.group-local .content form .order-amount div,
.group-local .content form .order-amount div.less {
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: center;
    padding: 28px 15px;
    height: 73px;
    cursor: pointer;
    transition: var(--transitionMedium);
    width: 73px;
    background-color: var(--paginators);
    border-radius: var(--bigRadius);
}

.group-detail-inner .paginate div.less,
.group-detail-inner .paginate div.more {
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: center;
    padding: 20px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    transition: var(--transitionMedium);
    background-color: var(--paginators);
    border-radius: var(--bigRadius);
}

.group-detail .content form .order-amount div,
.group-local .content form .order-amount div,
.group-local .content form .order-amount div.less {
    background-color: var(--brown);
}

.group-detail-inner .paginate div.less,
.group-detail-inner .paginate div.more,
.group-detail-inner .paginate p.active,
.group-detail-inner .paginate a {
    border-radius: var(--mediumRadius2);
}

.group-detail .content form .order-amount div,
.group-local .content form .order-amount div,
.group-detail-inner .paginate .paginator div,
.group-detail-inner .paginate p {
    float: left;
}

.group-detail-inner .paginate p {
    text-align: center;
    font-family: var(--NestleText-Book);
    font-size: var(--font3);
    vertical-align: middle;
    padding: 25px 29px;
}

.group-detail .content form .order-amount div,
.group-local .content form .order-amount div,
.group-local .content form .order-amount div.less,
.group-detail-inner .paginate div.less,
.group-detail-inner .paginate div.more,
.group-detail-inner .paginate p {
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: center;
    padding: 28px 15px;
    height: 73px;
    cursor: pointer;
    transition: var(--transitionMedium);
    width: 73px;
    border-radius: var(--bigRadius);
}

.group-detail-inner .paginate div.less,
.group-detail-inner .paginate div.more,
.group-detail-inner .paginate p {
    background-color: var(--paginators);
    border-radius: var(--mediumRadius2);
}

.group-detail-inner .paginate p.active,
.group-detail-inner .paginate a {
    margin-right: 10px;
    transition: var(--transitionMedium);
    overflow: hidden;
}

.group-detail-inner .paginate p.active {
    cursor: default;
}

.group-detail-inner .paginate a {
    color: black;
    text-decoration: none;
    display: block;
    background-color: var(--paginators);
}

.group-detail-inner .paginate p.active:last-child,
.group-detail-inner .paginate a:last-child {
    margin-right: 0px;
}

.group-detail .content form .order-amount .active.more:hover,
.group-detail .content form .order-amount .less:hover,
.group-detail-inner .paginate .active.less:hover,
.group-detail-inner .paginate .active.more:hover,
.group-detail-inner .paginate a:hover,
.group-detail-inner .paginate p:hover {
    background-color: var(--orange);
    color: white;
}

.group-detail .content form .order-amount .less.disabled:hover {
    background-color: var(--brown);
}

.group-detail-inner .paginate p.active,
.group-detail-inner .paginate div.more.active,
.group-detail-inner .paginate div.less.active,
.group-detail .content form .order-amount div.less.active,
.group-local .content form .order-amount div.more.active {
    background-color: var(--brown);
    color: white;
}

.group-detail-inner .paginate div.less {
    background-image: url(../img/arrow-left-paginator.svg);
}

.group-detail-inner .paginate div.more {
    background-image: url(../img/arrow-right-paginator.svg);
}

.group-detail-inner .paginate div.less,
.group-detail-inner .paginate div.more {
    cursor: initial;
}

.group-detail-inner .paginate div.less.active,
.group-detail-inner .paginate div.more.active {
    cursor: pointer;
}

.group-detail .content form .order-amount div.less,
.group-local .content form .order-amount div.less {
    background-image: url(../img/less.svg);
}

.group-detail .content form .order-amount div.less.disabled,
.group-local .content form .order-amount div.less.disabled {
    cursor: default;
    opacity: 20%;
}

.group-detail .content form .order-amount div.more,
.group-local .content form .order-amount div.more {
    background-image: url(../img/more.svg);
}

.group-detail .content form .order-amount input,
.group-local .content form .order-amount input {
    width: 100px;
    border-radius: var(--bigRadius);
    border: 2px solid var(--brown);
    height: 73px;
    transition: var(--transitionMedium);
    float: left;
    margin: 0px 10px;
    font-family: var(--NestleText-Book);
    font-size: var(--font4);
    padding: 20px;
    color: var(--darkBrown);
    text-align: center;
}

.group-detail .content form .order-amount input::placeholder,
.group-local .content form .order-amount input::placeholder {
    color: var(--darkBrown);
    font-family: var(--NestleText-Book);
    font-size: var(--font4);
}

.group-detail .orders,
.group-detail-inner .orders,
.group-local .orders {
    padding-bottom: 45px;
}

.group-detail .title-orders,
.group-local .title-orders,
.group-detail-inner .title-orders {
    overflow: hidden;
    margin-bottom: 20px;
}

.group-detail .title-orders .menu-reload,
.group-local .title-orders .menu-reload,
.group-detail-inner .title-orders .menu-reload {
    overflow: hidden;
}

.group-detail .menu-reload form,
.group-local .menu-reload form,
.group-detail-inner .menu-reload form {
    position: absolute;
    right: 0px;
    top: 0px;
    pointer-events: none;
    opacity: 40%;
    transition: var(--transitionFast);
}

.group-detail .menu-reload form.active,
.group-local .menu-reload form,
.group-detail-inner .menu-reload form.active {
    pointer-events: all;
    opacity: 100%;
}

.group-detail .title-orders h2,
.group-detail-inner .title-orders h2,
.group-local .title-orders h2 {
    font-family: var(--NestleText-Bold);
    font-size: var(--font2);
    float: left;
    color: black;
}

.group-detail .title-orders p,
.group-local .title-orders p,
.group-detail-inner .title-orders p {
    font-family: var(--NestleText-Book);
    font-size: var(--font4);
    color: black;
    opacity: 40%;
    float: left;
    margin-left: 15px;
    line-height: 1.5em;
}

.group-detail .grid,
.group-local .grid,
.group-detail-inner .grid {
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr 0.4fr;
}

.group-local .orders.delivery .grid,
.group-detail-inner .orders.delivery .grid {
    grid-template-columns: 1fr 2.5fr 1.5fr;
}

.group-local .orders.canceled .grid .content-container:nth-child(3) p,
.group-detail-inner .orders.canceled .grid .content-container:nth-child(3) p,
.group-local .orders.canceled .grid .content-container:nth-child(3) span,
.group-detail-inner
    .orders.canceled
    .grid
    .content-container:nth-child(3)
    span {
    float: left;
    padding-top: 10px;
}

.group-local .orders.canceled .grid .content-container:nth-child(3) span,
.group-detail-inner
    .orders.canceled
    .grid
    .content-container:nth-child(3)
    span {
    margin-right: 10px;
}

.group-local .orders.canceled .grid,
.group-detail-inner .orders.canceled .grid {
    grid-template-columns: 1fr 1.5fr 1.5fr 0.4fr;
}

.group-detail .order-description,
.group-local .order-description,
.group-detail-inner .order-description {
    border: 2px solid var(--greyBorder);
    border-top: none;
}

.group-detail .order-description:last-child,
.group-local .order-description:last-child,
.group-detail-inner .order-description:last-child {
    border-radius: 0px 0px 5px 5px;
}

.group-detail .order-description .content-container,
.group-local .order-description .content-container,
.group-detail-inner .order-description .content-container {
    padding: 15px 20px;
    position: relative;
    border-right: 2px solid var(--greyBorder);
    font-size: var(--font6);
    font-family: var(--NestleText-Book);
    background-color: white;
    color: var(--darkBrown);
    overflow: hidden;
}

.group-detail .order-description .content-container:nth-child(3),
.group-local .order-description .content-container:nth-child(3),
.group-detail-inner .order-description .content-container:nth-child(3) {
    padding: 5px 20px;
}

.group-detail .order-description .content-container p,
.group-detail .order-description .content-container .position-container,
.group-local .order-description .content-container p,
.group-detail-inner .order-description .content-container p,
.group-local .order-description .content-container .position-container,
.group-detail-inner .order-description .content-container .position-container {
    line-height: 1.5em;
}

.group-detail .order-description .content-container:last-child,
.group-local .order-description .content-container:last-child,
.group-detail-inner .order-description .content-container:last-child {
    border: none;
}

.delivery .group-detail .order-description .content-container:last-child,
.delivery .group-local .order-description .content-container:last-child,
.delivery .group-detail-inner .order-description .content-container:last-child {
    padding: 15px 20px;
}

.group-detail .intro-orders,
.group-detail-inner .intro-orders,
.group-local .intro-orders {
    border-radius: 5px;
    overflow: hidden;
}

.group-detail .intro-orders h3,
.group-detail-inner .intro-orders h3,
.group-local .intro-orders h3 {
    background-color: var(--brown);
    font-family: var(--NestleText-Book);
    font-size: var(--font5);
    text-transform: uppercase;
    padding: 20px;
    color: white;
    border-right: 2px solid var(--brownBorder);
}

.group-detail .intro-orders h3:last-child,
.group-local .intro-orders h3:last-child,
.group-detail-inner .intro-orders h3:last-child {
    border-right: none;
}

.group-detail .orders a,
.group-detail-inner .orders a,
.group-local .orders a {
    display: block;
    color: var(--orange);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--font5);
    font-family: var(--NestleText-Book);
    transition: var(--transitionMedium);
    line-height: 1.8em;
    margin-top: 20px;
}

.group-detail .orders a.link-uber,
.group-detail-inner .orders a.link-uber,
.group-local .orders a.link-uber {
    display: inline;
    font-size: var(--font6);
    font-family: var(--NestleText-Book);
}

.group-detail .orders a:hover,
.group-local .orders a:hover,
.group-detail-inner .orders a:hover {
    text-decoration: underline;
}

.group-detail .order-description .content-container:nth-child(3) span,
.group-local
    .order-description
    .content-container:nth-child(3)
    span:nth-child(1),
.group-detail-inner
    .order-description
    .content-container:nth-child(3)
    span:nth-child(1) {
    width: max-content;
    display: block;
    padding: 12px;
    color: white;
    border-radius: 5px;
}

.group-local
    .orders.delivery
    .order-description
    .content-container:nth-child(3)
    span:nth-child(1),
.group-detail-inner
    .orders.delivery
    .order-description
    .content-container:nth-child(3)
    span:nth-child(1),
.group-local
    .orders.delivery
    .order-description.pending
    .content-container:nth-child(3)
    span:nth-child(1),
.group-detail-inner
    .orders.delivery
    .order-description.pending
    .content-container:nth-child(3)
    span:nth-child(1) {
    background-color: var(--blueTag);
}

.group-local
    .orders.delivery
    .order-description
    .content-container:nth-child(3)
    span:nth-child(1),
.group-detail-inner
    .orders.delivery
    .order-description
    .content-container:nth-child(3)
    span:nth-child(1) {
    margin-right: 10px;
    float: left;
}

.group-local
    .orders.delivery
    .order-description.canceled
    .content-container:nth-child(3)
    span:nth-child(1),
.group-detail-inner
    .orders.delivery
    .order-description.canceled
    .content-container:nth-child(3)
    span:nth-child(1) {
    background-color: var(--redTag);
}

.group-local
    .orders.delivery
    .order-description.delivered
    .content-container:nth-child(3)
    span:nth-child(1),
.group-detail-inner
    .orders.delivery
    .order-description.delivered
    .content-container:nth-child(3)
    span:nth-child(1) {
    background-color: var(--greenTag);
}

.group-local
    .orders.delivery
    .order-description.reschedule
    .content-container:nth-child(3)
    span:nth-child(1),
.group-detail-inner
    .orders.delivery
    .order-description.reschedule
    .content-container:nth-child(3)
    span:nth-child(1) {
    background-color: var(--yellowTag);
}

.group-local
    .orders.delivery
    .order-description.canceled
    .content-container:nth-child(3)
    span:nth-child(2),
.group-detail-inner
    .orders.delivery
    .order-description.canceled
    .content-container:nth-child(3)
    span:nth-child(2) {
    float: left;
}

.group-local
    .orders.delivery
    .order-description
    .content-container:nth-child(3)
    span:nth-child(2),
.group-detail-inner
    .orders.delivery
    .order-description
    .content-container:nth-child(3)
    span:nth-child(2) {
    float: left;
    color: black;
    margin-top: 12px;
    padding: 0px;
}

.group-local
    .orders.delivery
    .order-description.not-sent
    .content-container:nth-child(3)
    span:nth-child(2),
.group-detail-inner
    .orders.delivery
    .order-description.not-sent
    .content-container:nth-child(3)
    span:nth-child(2) {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    width: calc(100% - 110px);
    margin-top: 0px;
}

/* ANA -> REVER AQUI */
.group-detail-inner
    .orders.delivery
    .order-description.canceled
    .content-container:nth-child(3)
    .position-container
    span:nth-child(2) {
    max-width: calc(100% - 180px);
    display: block;
    margin-top: 2px;
}

.group-detail
    .orders.pending
    .order-description
    .content-container:nth-child(3)
    span,
.group-local
    .orders.pending
    .order-description
    .content-container:nth-child(3)
    span,
.group-detail-inner
    .orders.pending
    .order-description
    .content-container:nth-child(3)
    span {
    background-color: var(--yellowTag);
}

.group-detail
    .orders.delivered
    .order-description
    .content-container:nth-child(3)
    span,
.group-local
    .orders.delivered
    .order-description
    .content-container:nth-child(3)
    span,
.group-detail-inner
    .orders.delivered
    .order-description
    .content-container:nth-child(3)
    span {
    background-color: var(--greenTag);
}

.group-detail
    .orders.canceled
    .order-description
    .content-container:nth-child(3)
    span,
.group-local
    .orders.canceled
    .order-description
    .content-container:nth-child(3)
    span,
.group-detail-inner
    .orders.canceled
    .order-description
    .content-container:nth-child(3)
    span {
    background-color: var(--redTag);
}

.group-detail .content .order-amount input:hover,
.group-detail .content .order-amount input:focus,
.group-local .content .order-amount input:hover,
.group-local .content .order-amount input:focus {
    border: 2px solid var(--focus);
    outline: none;
}

.group-local .orders.delivery .tabs,
.group-detail-inner .orders.delivery .tabs {
    overflow: hidden;
    width: 100%;
}

.group-local .orders.delivery .tabs h3,
.group-detail-inner .orders.delivery .tabs h3 {
    float: left;
    font-size: var(--font5);
    text-transform: uppercase;
    cursor: pointer;
    color: var(--orange);
    transition: var(--transitionMedium);
    font-family: var(--NestleText-Book);
}

.group-local .orders.delivery .tabs h3:hover,
.group-detail-inner .orders.delivery .tabs h3:hover {
    text-decoration: underline;
}

.group-local .orders.delivery .tabs h3.active,
.group-detail-inner .orders.delivery .tabs h3.active {
    color: var(--brown);
    cursor: default;
}

.group-local .orders.delivery .tabs h3.active:hover,
.group-detail-inner .orders.delivery .tabs h3.active:hover {
    text-decoration: none;
}

.group-local .orders.delivery .tabs h3:nth-child(1),
.group-detail-inner .orders.delivery .tabs h3:nth-child(1) {
    margin-right: 15px;
}

.group-local .orders.delivery .introduction-data,
.group-detail-inner .orders.delivery .introduction-data {
    position: relative;
    margin-bottom: 20px;
    padding-top: 0px;
}

.group-detail.group-detail-inner .orders.delivery .introduction-data {
    padding-top: 20px;
}

.group-local .orders.delivery .first-data,
.group-detail-inner .orders.delivery .first-data {
    float: left;
}

.group-local .orders.delivery .introduction-data button,
.group-detail-inner .orders.delivery .introduction-data button {
    float: right;
}

.group-local .orders.delivery .not-sent-options,
.group-detail-inner .orders.delivery .not-sent-options {
    overflow: hidden;
    float: right;
    margin-top: 13px;
}

.group-local .orders.delivery .not-sent-options.empty-notes,
.group-detail-inner .orders.delivery .not-sent-options.empty-notes {
    margin-top: -27px;
    z-index: 3;
    position: relative;
}

.group-local .orders.delivery .not-sent-options form,
.group-detail-inner .orders.delivery .not-sent-options form {
    float: left;
}

.group-local .orders.delivery .not-sent-options button,
.group-detail-inner .orders.delivery .not-sent-options button {
    border: none;
    background-color: transparent;
    color: var(--optionButton);
    font-size: var(--font6);
    padding: 0px;
    transition: var(--transitionMedium);
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--NestleText-Book);
}

.group-local .orders.delivery .not-sent-options button:hover,
.group-detail-inner .orders.delivery .not-sent-options button:hover {
    text-decoration: underline;
}

.group-local .orders.delivery .not-sent-options button:before,
.group-detail-inner .orders.delivery .not-sent-options button:before {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 10px;
    content: "";
    height: 12px;
    display: block;
    margin-top: 2.2px;
    float: left;
    margin-right: 5px;
}

.group-local .orders.delivery .not-sent-options form:nth-child(1) button:before,
.group-detail-inner
    .orders.delivery
    .not-sent-options
    form:nth-child(1)
    button:before {
    background-image: url(../img/clock-table.svg);
}

.group-local .orders.delivery .not-sent-options form:nth-child(2) button:before,
.group-detail-inner
    .orders.delivery
    .not-sent-options
    form:nth-child(2)
    button:before {
    background-image: url(../img/canceled-table.svg);
}

.group-local .orders.delivery .not-sent-options form:nth-child(1) button,
.group-detail-inner
    .orders.delivery
    .not-sent-options
    form:nth-child(1)
    button {
    margin-right: 10px;
}

.group-local .orders.delivery .position-container,
.group-detail-inner .orders.delivery .position-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.group-local .orders.delivery .position-container .tag-status,
.group-detail-inner .orders.delivery .position-container .tag-status {
    overflow: hidden;
    float: left;
}

.delivery .group-local .container-orders.order-table,
.delivery .group-detail-inner .container-orders.order-table {
    display: none;
}

.group-local .container-orders.delivery-table,
.group-detail-inner .container-orders.delivery-table {
    display: none;
}

.delivery .group-local .container-orders.delivery-table,
.delivery .group-detail-inner .container-orders.delivery-table {
    display: block;
}

.group-detail-inner .intro h2 {
    display: block;
    font-size: var(--font1);
    font-family: var(--NestleText-Bold);
    margin-bottom: 10px;
    color: var(--darkBrown);
}

.group-detail-inner .intro .title {
    margin-bottom: 40px;
}

.group-detail-inner .paginate {
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
}

.group-detail-inner .paginator {
    overflow: hidden;
    width: max-content;
    margin: 0 auto;
}

.group-detail-inner .pages {
    overflow: hidden;
    margin: 0 40px;
}

.group-detail-inner .up,
.group-detail .up,
.group-local .up,
.group .up {
    position: fixed;
    bottom: -10%;
    right: 20px;
    opacity: 0;
    z-index: 6;
    transition: opacity 0.3s ease, transform 0.3s ease, all 1s;
    transform: rotate(90deg);
    width: 40px;
    border-radius: 50%;
    padding: 30px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-image: url(../img/arrow-white-left.svg);
    cursor: pointer;
    pointer-events: none;
}

.group-detail-inner .up.active,
.group-detail .up.active,
.group-local .up.active,
.group .up.active {
    opacity: 1;
    bottom: 20px;
    pointer-events: auto;
}

.group-local .notFound,
.group-detail .notFound,
.group-detail-inner .notFound {
    font-size: var(--font5);
    font-family: var(--NestleText-Bold);
    padding: 20px 0px;
    background-color: white;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid #f1ebe6;
    border-top: none;
}

.group .empty {
    border-radius: var(--bigRadius);
    background-color: white;
    padding: 60px;
    text-align: center;
}

.group .empty img {
    width: 536px;
    height: auto;
    margin-bottom: 60px;
}

.group .empty h3 {
    font-size: var(--font2);
    font-family: var(--NestleText-Book);
    line-height: 1.5em;
    color: black;
}

.alert {
    position: fixed;
    right: 50px;
    width: max-content;
    min-width: 420px;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-family: var(--NestleText-Book);
    border-radius: 10px;
    bottom: -10%;
    animation: mymove 5s;
    line-height: 1.5em;
    opacity: 100%;
    z-index: 5;
}

@keyframes mymove {
    0% {
        bottom: -10%;
        z-index: 10;
    }

    10% {
        bottom: calc(0% + 20px);
        z-index: 10;
    }

    50% {
        bottom: calc(0% + 20px);
        z-index: 10;
    }

    90% {
        bottom: calc(0% + 20px);
        z-index: 10;
    }

    100% {
        bottom: -10%;
        z-index: -1;
    }
}

.alert p {
    position: relative;
    padding-left: 30px;
}

.alert p:before {
    background-repeat: no-repeat;
    background-position: 100% 100%;
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0px, -50%);
}

.alert-success {
    background-color: var(--greenTag);
}

.alert-success p:before {
    background-image: url(../img/success.svg);
}

.alert-error {
    background-color: var(--redTag);
}

.alert-error p:before {
    background-image: url(../img/error.svg);
}

.group-detail-inner #reloadLink {
    position: relative;
    text-transform: uppercase;
    padding: 10px 20px;
    color: white;
    float: left;
    font-family: var(--NestleText-Book);
    font-size: var(--font5);
    background-color: var(--brown);
    border-radius: 5px;
    cursor: pointer;
    line-height: 1.2em;
    width: max-content;
    transition: var(--transitionFast);
    margin-right: 10px;
}

.group-detail-inner .title-orders h2,
.group-detail-inner .title-orders p {
    padding: 10px 0px;
}

.group-detail-inner.group-detail .title-orders h2,
.group-detail-inner.group-detail .title-orders p {
    padding: 0px;
}

.group-detail-inner.group-detail #reloadLink {
    display: none;
}

.group-detail-inner #reloadLink:before {
    background-repeat: no-repeat;
    background-image: url(../img/reload.svg);
    background-position: 100% 100%;
    width: 17px;
    height: 17px;
    content: "";
    display: block;
    margin-top: -2px;
    float: left;
    margin-right: 3px;
    margin-right: 10px;
}

.group-detail-inner #reloadLink:hover {
    background-color: var(--orange);
}

.login .alert {
    right: 0px;
    padding: 0px;
}

.texto-vermelho {
    color: red !important;
}

@media (max-width: 1900px) {
    .campaigns .card .infos .data:nth-child(1) {
        margin: 0px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1600px) {
    header .logout {
        top: 32.5px;
        border: none;
        background-color: transparent;
    }

    .title-header {
        left: -350px;
    }
    .arrow a {
        font-size: 1rem;
    }

    .login {
        min-height: calc(100vh - 80px);
    }

    .campaigns .card .infos div {
        width: 100%;
        float: none;
    }

    .campaigns .card p {
        float: left;
    }

    .group-detail-inner .paginate p {
        padding: 20px;
        width: 55px;
        height: auto;
    }

    .group-detail-inner .paginate div.less,
    .group-detail-inner .paginate div.more {
        width: 55px;
        height: 55px;
    }

    .group-detail-inner .paginate div.less a,
    .group-detail-inner .paginate div.more a {
        padding: 17px 20px;
    }

    .group-detail-inner .paginate {
        padding-bottom: 40px;
    }

    .group-detail-inner .pages {
        margin: 0px 20px;
    }

    .group-detail-inner .pages p:nth-child(4),
    .group-detail-inner .pages p:nth-child(5) {
        display: none;
    }

    .group-detail .content form .order-amount div {
        padding: 20px 15px;
    }

    .campaigns .card .infos .data {
        padding: 15px;
    }

    .campaigns .card {
        padding: 20px;
    }

    .group h1 {
        margin-bottom: 30px;
    }

    .login form {
        padding: 30px;
    }

    .login form h1 {
        margin-bottom: 20px;
    }

    .login form label {
        margin-bottom: 10px;
    }

    .group-local .orders.delivery .not-sent-options button:before,
    .group-detail-inner .orders.delivery .not-sent-options button:before {
        margin-top: 1px;
        height: 10px;
        width: 7px;
    }

    header .logout:after {
        margin-top: -2px;
    }

    .group .path a:after,
    .group-detail .path a:after,
    .group-detail-inner .path a:after,
    .group-local .path a:after {
        width: 6px;
        height: 10px;
        margin-top: 1px;
    }

    .campaigns .card .title h2 {
        height: 50px;
    }

    .group-local
        .orders.delivery
        .order-description.not-sent
        .content-container:nth-child(3)
        span:nth-child(2),
    .group-detail-inner
        .orders.delivery
        .order-description.not-sent
        .content-container:nth-child(3)
        span:nth-child(2) {
        width: calc(100% - 95px);
    }
}

@media (max-width: 1260px) {
    .campaigns .card .infos div {
        width: 100%;
        float: none;
    }
    .arrow a {
        font-size: 1rem;
    }

    .group .card .content-wrapper .infos,
    .group-detail .card .content-wrapper .infos,
    .group-local .card .content-wrapper .infos,
    .group-detail-inner .card .content-wrapper .infos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
    }

    .campaigns .card {
        position: relative;
    }

    .campaigns .card p {
        float: left;
    }

    .campaigns .card .infos {
        margin-bottom: 0px;
    }

    .campaigns .card .title {
        margin-bottom: 20px;
    }

    footer {
        display: block;
    }

    .group .info-title,
    .group .content-title,
    .group-detail .info-title,
    .group-detail .content-title,
    .group-local .info-title,
    .group-local .content-title,
    .group-detail-inner .info-title,
    .group-detail-inner .content-title {
        float: none;
    }

    .group .card .infos .data,
    .group-detail .card .infos .data,
    .group-local .card .infos .data,
    .group-detail-inner .card .infos .data {
        margin-bottom: 10px;
    }

    .group-local .orders.delivery .first-data,
    .group-detail-innerrders.delivery .first-data {
        float: none;
    }

    .group-detail-inner .orders.delivery .first-data {
        float: none;
    }

    .group-local .orders.delivery .introduction-data button,
    .group-detail-inner .orders.delivery .introduction-data button {
        float: none;
        padding: 23px 15px;
        border-radius: var(--mediumRadius2);
    }

    .group-detail-inner .up,
    .group-detail .up,
    .group-local .up,
    .group .up.active {
        padding: 20px;
        border-radius: var(--mediumRadius1);
    }
}

@media (max-width: 450px) {
    .text-connection {
        font-size: 0.9rem;
        word-break: break-word;
    }
    .arrow a {
        font-size: 0.7rem;
    }
}

@media (max-width: 595px) {
    span.text-info-connection {
        display: none;
    }

    .arrow a:before {
        margin-top: -1px;
    }
}

@media (max-width: 1024px) {
    header div img {
        height: auto;
        width: 100%;
        max-width: 350px;
    }

    header .logout {
        display: none;
    }

    .header {
        gap: 0;
        display: flex;
        grid-template-columns: 0;
    }

    header div {
        width: 100%;
        text-align: center;
    }

    .title-header {
        left: -300px;
    }

    .login {
        max-width: calc(100vw - 40px);
        height: calc(100vh - 110px);
        overflow: auto;
        margin-top: 40px;
    }

    .group-detail-inner .paginate p {
        padding: 10px;
        width: 32px;
    }

    .group-detail-inner .paginate div.less,
    .group-detail-inner .paginate div.more {
        width: 32px;
        height: 32px;
        padding: 5px;
        background-size: 12px 10px;
    }

    .group-detail-inner .pages {
        margin: 0 10px;
    }

    .login form {
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        transform: none;
        border-radius: var(--mediumRadius1);
    }

    .login form button {
        border-radius: var(--mediumRadius1);
    }

    .login form label {
        margin-bottom: 10px;
    }

    .campaigns .content {
        grid-template-columns: 1fr;
        padding-bottom: 0px;
    }

    .column-connection {
        display: grid;
        grid-template-columns: 1fr;
    }

    .info-1 {
        left: 0;
    }

    .card-connection {
        width: 100%;
    }

    .campaigns,
    .group,
    .group-detail,
    .group-local,
    .group-detail-inner {
        max-width: calc(100% - 40px);
        width: 100%;
        padding-top: 40px;
    }

    .campaigns h1 {
        margin-bottom: 20px;
    }

    .group .content-title {
        float: none;
    }

    .group .card .content-wrapper:nth-child(1),
    .group .card .content-wrapper:nth-child(2),
    .group-detail .card .content-wrapper:nth-child(1),
    .group-detail .card .content-wrapper:nth-child(2),
    .group-local .card .content-wrapper:nth-child(1),
    .group-local .card .content-wrapper:nth-child(2),
    .group-detail-inner .card .content-wrapper:nth-child(1),
    .group-detail-inner .card .content-wrapper:nth-child(2) {
        float: none;
        width: 100%;
    }

    .group .path a,
    .group-detail .path a,
    .group-local .path a,
    .group-detail-inner .path a {
        margin-bottom: 10px;
    }

    .group .card a,
    .group .card .update,
    .group-detail .card .update,
    .group-local .card .update,
    .group-detail-inner .card .update {
        float: none;
        text-align: start;
    }

    .group .card h2,
    .group-detail .card h2,
    .group-local .card h2,
    .group-detail-inner .card h2 {
        width: 100%;
    }

    .group .card a {
        margin: 10px 0px;
        display: block;
    }

    .group .info-title,
    .group .content-title {
        width: 100%;
    }

    .group .data-title {
        width: calc(50% - 5px);
    }

    .group-detail .content .order-amount,
    .group-local .content .order-amount {
        float: none;
        margin-bottom: 15px;
    }

    .group-detail .content form button,
    .group-local .content form button {
        float: none;
        padding: 15px 10px;
        border-radius: var(--mediumRadius2);
        height: 50px;
    }

    .group-local .orders.delivery .introduction-data button,
    .group-detail-inner .orders.delivery .introduction-data button {
        margin-top: 20px;
    }

    .group-detail .content form .order-amount div,
    .group-detail .content form .order-amount input,
    .group-local .content form .order-amount div,
    .group-local .content form .order-amount div.less,
    .group-local .content form .order-amount input,
    .group-detail-inner .content form .order-amount div,
    .group-detail-inner .content form .order-amount input {
        padding: 20px 10px;
        height: 50px;
        border-radius: var(--mediumRadius2);
    }

    .group-detail .grid,
    .group-local .grid,
    .group-local .orders.delivery .grid,
    .group-detail-inner .grid,
    .group-detail-inner .orders.delivery .grid,
    .group-local .orders.canceled .grid,
    .group-detail-inner .orders.canceled .grid {
        grid-template-columns: 1fr;
    }

    .group-detail .intro-orders h3,
    .group-local .intro-orders h3,
    .group-detail-inner .intro-orders h3 {
        border: none;
        padding: 10px;
    }

    .group-detail .order-description .content-container,
    .group-local .order-description .content-container,
    .group-detail-inner .order-description .content-container,
    .group-detail-inner .order-description .content-container:nth-child(3) {
        border-right: 0px;
        padding: 15px 10px;
        padding-left: 80px;
    }

    .group-detail .order-description div:nth-child(3) span,
    .group-local .order-description div:nth-child(3) span,
    .group-detail-inner .order-description div:nth-child(3) span {
        padding: 5px;
    }

    .group .path a:after,
    .group-detail .path a:after,
    .group-local .path a:after,
    .group-detail-inner .path a:after {
        margin-left: 10px;
        margin-top: 0px;
    }

    .group-local .orders.delivery .position-container,
    .group-detail-inner .orders.delivery .position-container {
        position: relative;
        padding: 0px;
    }

    .group-local .orders.delivery .content-container,
    .group-detail-inner .orders.delivery .content-container {
        padding: 20px;
    }

    .group-local .orders.delivery .position-container .tag-status,
    .group-local .orders.delivery .not-sent-options,
    .group-detail-inner .orders.delivery .position-container .tag-status,
    .group-detail-inner .orders.delivery .not-sent-options {
        float: none;
        padding: 0px;
        margin-top: 5px;
    }

    .group-local .orders.delivery .not-sent-options.empty-notes,
    .group-detail-inner .orders.delivery .not-sent-options.empty-notes,
    .group-local .orders.delivery .not-sent-options,
    .group-detail-inner .orders.delivery .not-sent-options {
        margin-top: 5px;
    }

    .group-local
        .orders.delivery
        .order-description
        .content-container:nth-child(3)
        span:nth-child(2),
    .group-detail-inner
        .orders.delivery
        .order-description
        .content-container:nth-child(3)
        span:nth-child(2) {
        margin-top: 6px;
    }

    .group-local .orders.delivery .not-sent-options button:before,
    .group-detail-inner .orders.delivery .not-sent-options button:before {
        margin-top: 0px;
    }

    .group-local .orders .content-container,
    .group-detail-inner .orders .content-container {
        border-right: 0px;
    }

    .group-detail-inner .up,
    .group-detail .up,
    .group-local .up,
    .group .up {
        right: initial;
    }

    .group .path a:after,
    .group-detail .path a:after,
    .group-detail-inner .path a:after,
    .group-local .path a:after {
        width: 8px;
        height: 10px;
        margin-top: -1px;
    }

    .alert {
        width: 100%;
        left: 0px;
        margin: 0px;
        padding: 20px;
        font-size: 14px;
        text-align: center;
    }

    .login .alert {
        text-align: left;
    }

    .group-detail .order-description .content-container,
    .group-local .order-description .content-container,
    .delivery .group-detail .order-description .content-container:last-child,
    .delivery .group-local .order-description .content-container:last-child,
    .delivery
        .group-detail-inner
        .order-description
        .content-container:last-child,
    .group-detail .order-description .content-container:nth-child(3),
    .group-local .orders.delivery .content-container,
    .group-detail-inner .orders.delivery .content-container {
        position: relative;
        padding-left: 80px;
    }

    .group-detail-inner .order-description .content-container:before,
    .group-local .order-description .content-container:before {
        width: 30px;
        height: 10px;
        left: 15px;
        top: 50%;
        transform: translate(0px, -50%);
        position: absolute;
        content: "titulo:";
        text-transform: uppercase;
        display: block;
    }

    .group-detail-inner
        .order-description
        .content-container:nth-child(1):before,
    .group-local .order-description .content-container:nth-child(1):before {
        content: "Nome:";
    }

    .group-detail-inner
        .order-description
        .content-container:nth-child(2):before,
    .group-local .order-description .content-container:nth-child(2):before {
        content: "Endereço:";
        width: 100px;
    }

    .group-detail-inner
        .order-description
        .content-container:nth-child(3):before,
    .group-local .order-description .content-container:nth-child(3):before {
        content: "Status:";
    }

    .group-detail-inner
        .order-description
        .content-container:nth-child(4):before,
    .group-local .order-description .content-container:nth-child(4):before {
        content: "Data:";
    }

    .group-detail-inner .order-description .content-container:nth-child(3) span,
    .group-local
        .order-description
        .content-container:nth-child(3)
        span:nth-child(1),
    .group-detail-inner
        .order-description
        .content-container:nth-child(3)
        span:nth-child(1) {
        padding: 5px;
        margin-bottom: 2px;
    }

    .group-detail .intro-orders,
    .group-detail-inner .intro-orders,
    .group-local .intro-orders {
        display: none;
    }

    .delivery
        .group-detail
        .order-description
        .content-container:nth-child(2):before,
    .delivery
        .group-local
        .order-description
        .content-container:nth-child(2):before,
    .delivery
        .group-detail-inner
        .order-description
        .content-container:nth-child(2):before {
        content: "Veículo";
    }

    .delivery
        .group-detail
        .order-description
        .content-container:nth-child(3):before,
    .delivery
        .group-local
        .order-description
        .content-container:nth-child(3):before,
    .delivery
        .group-detail-inner
        .order-description
        .content-container:nth-child(3):before {
        content: "Quant.";
    }

    .alert {
        min-width: 100%;
        border-radius: 5px 5px 0px 0px;
    }

    @keyframes mymove {
        0% {
            bottom: -10%;
            z-index: 10;
        }

        30% {
            bottom: 0%;
            z-index: 10;
        }

        50% {
            bottom: 0%;
            z-index: 10;
        }

        80% {
            bottom: 0%;
            z-index: 10;
        }

        100% {
            bottom: -10%;
            z-index: -1;
        }
    }

    .group-detail-inner #reloadLink,
    .group-detail-inner.group-detail .title-orders h2,
    .group-detail-inner.group-detail .title-orders p {
        float: none;
    }

    .group-local .orders.delivery .introduction-data button,
    .group-detail-inner .orders.delivery .introduction-data button {
        padding: 10px;
    }

    .group-detail .menu-reload form,
    .group-local .menu-reload form,
    .group-detail-inner .menu-reload form {
        position: relative;
        right: inherit;
        top: inherit;
        margin-bottom: 40px;
    }

    .group-detail .title-orders,
    .group-local .title-orders,
    .group-detail-inner .title-orders {
        margin-bottom: 10px;
    }

    .group-local
        .orders.delivery
        .order-description.not-sent
        .content-container:nth-child(3)
        span:nth-child(2),
    .group-detail-inner
        .orders.delivery
        .order-description.not-sent
        .content-container:nth-child(3)
        span:nth-child(2) {
        position: relative;
        float: none;
        transform: none;
        top: inherit;
        right: inherit;
        width: 100%;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* ANA -> REVER AQUI */
    .group-detail-inner
        .orders.delivery
        .order-description.canceled
        .content-container:nth-child(3)
        .position-container
        span:nth-child(2) {
        max-width: 100%;
    }
}
